.difficulty-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.difficulty-modal {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
}

.difficulty-modal h1 {
  font-size: 2.5rem !important;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0.5rem;
}

.difficulty-modal h3 {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.difficulty-modal p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
}

.difficulty-card {
  background: rgba(0, 0, 0, 0.77);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  padding: 1.5rem;
  width: 220px;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.difficulty-card:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.back-btn {
  background: rgba(0, 0, 0, 0.77);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  padding: 0.8rem 3rem;
  width: 220px;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.back-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-5px);
}